// Define the .info class
.info {
  font-size: 12px;
}

// Define the .success class and extend .info
.success {
  @extend .info;
  color: #00FF00;
}

// Define the .warning class and extend .info
.warning {
  @extend .info;
  color: #FF0000;
}

